img {
    width: 100px;
    height: 100px;
    margin: 10px 10px;
}
/*.a b 表示该约束样式只作用于a标签下的b标签*/
.List p {
    text-align: center;
}

.List .List_section li {
    width: 33.3%;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.List_section li .inner p {
    padding: .2rem .5rem;
}

.List_section li .inner {
    background: #fff;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.List_section li a {

    text-decoration: underline;

    color: #555;
}

.item_list li .inner img {
    width: 100px;
}

/*li 横向排列*/
.List_section {
    display: flex;
    flex-wrap: wrap;
    padding: 0px .5rem;
}

ul, li {
    /*去掉li的那个指示点*/
    list-style-type: none;
}

.price {
    color: red;
}

.OrderContent {
    background-color: white;
}
.OrderContent .header .img {

    /*width: 100%;*/
    /*height: 18rem;*/

    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.header img {
    width: 100%;
    height: 18rem;
}

input {
    border-color: lightgray;
    padding-right: 10px;
}

.pFooter {
    position: fixed;
    width: 100%;
    bottom: 0px;
    /*  react 默认从上往下排列，若需要横向排列则需要改变display为flex，flex默认方向为横向*/
    display: flex;
    height: 4.4rem;
    border-top: 1px solid #eee;
}
.pFooter .cart {
    display: flex;
    justify-content:center;
    align-items:Center;
    /*flex: 1;*/
}
.pFooter .cart .cart_num {
    display: flex;
}

.pFooter .cart strong {

    flex: 1;
    font-size: 1.6rem;
    padding: 0rem .5rem;
}

.pFooter .cart .cart_num .input_left , .pFooter .cart .cart_num .input_right {
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: red;
    border: 1px solid #eee;
    font-size: 2.4rem;
}

.pFooter .cart .cart_num .input_center input {
    width: 2rem;
    width: 100%;
    height: 2.8rem;
    /*文字对齐是否居中居左*/
    text-align: center;
    /*border none设置的是四条边的，和下面的有设置先后区别*/
    border: none;
    /*上边界 1px宽度，实线，颜色eee*/
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

}

.pFooter .addcart {
    background-color: red;
    display: flex;
    justify-content: center;
    align-self: center;
    position: fixed;
    height: 3rem;
    padding: .5rem;
    border-radius: .5rem;
    right: 0px;
}
